/channel-artifacts/*.tx
/channel-artifacts/*.block
/ledgers
/ledgers-backup
/channel-artifacts/*.json
/org3-artifacts/crypto-config/*
organizations
system-genesis-block/*
*.tar.gz
log.txt
production
.DS_Store